CORS_ORIGINS=

# LANGSMITH_TRACING=true
# LANGSMITH_ENDPOINT=https://api.smith.langchain.com
# LANGSMITH_API_KEY=
# LANGSMITH_PROJECT="PostLab"

LLM_MODEL=openai/gpt-oss-120b
LLM_API_KEY=
LLM_URL=https://integrate.api.nvidia.com/v1